{$DOMAIN} {
  encode zstd gzip
  reverse_proxy app:17317

  @wallpaperAssets path /assets/wallpapers/*
  header @wallpaperAssets Cache-Control "public, max-age=31536000, immutable"

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    -Server
  }

  log {
    output stdout
    format console
  }
}
